<h1>Listing attractions</h1>

<%= render partial: "admin" %><br/><br/>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tickets</th>
      <th>Details</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "attraction", collection: @attractions %>
  </tbody>
</table>

<br>

